:root{
    --verde--10: #8A3033;
    --verde--5: #ffffff;
    --verde--15: #8DFFCD;
    --verde-8: #68D89B;
    --verde-12: #4F9D69;
    
}

body{
    margin: 0 0;
    font-size: large;
    font-family: 'Times New Roman';
    color: #EADEDA;
}
   

/* Main - Meio do site */

.centralizando{
    margin: 8% 5%;
}

.mainConteudo{
    padding: 12%;
    font-size: 100%;
    font-weight: 600;
    font-family: 'times New Roman';
}

.containerCapacete {
    display: flex;
    justify-content: space-around;
    gap: 300px;
    max-width: 1200px;
    width: 100%;
    color: black;
    
}

.capacetes {
    background-color: var(--verde--10);
    padding: 10px;
    text-align: center;
    flex: 1;
}

/* Final do Main */

/* Cabeça do Site apenas a parte superior */
.container-header {
    display: flex;
    justify-content: space-around;
    margin: 0 0;
}


.section1 {
    display: flex;
    
    margin: 0 160px 0 200px;
    gap: 250px;
    padding-top: 3%;
    
}


.nomesHeader{
    font-size: large;
    font-family: arial;
    font-weight: 600;
}

.ajusteLogos{
    height: 108px;
    width: 108px;
}
/* Final Do Começo do Site */

 /* Começo  Footer */

 footer{
    margin-top: 50px;
}
.containerFinal{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}
.containerInformacoes{
    display: flex;
    justify-content: center;
}

.border{
    border: solid var(--azul--10);
}


    /* Fim Footer */